<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_main">

    <application>
        <activity android:name=".activity._MainActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".activity.WebViewActivity" />

        <activity android:name=".activity.WeChatArticleListActivity"/>

    </application>

</manifest>